body {
    margin: 0;
    background-color: rgb(36, 36, 36);
}

video {
    background-color: rgb(0, 0, 0);
    margin: auto;
    width: 853px;
    height: 480px;
}

h3 {
    color: hsl(30,80%,90%);
    margin-bottom: 3px;
}

#video-frames {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#capture {
    display: block;
    margin: auto;
}

#settingsContainer {
    display: flex;
    justify-content: center;
    column-gap: 1em;
}

pre {
    width: 30em;
    margin: 0;
    padding: 1em;
    outline: 0px solid transparent;
    background: hsl(30,80%,90%);
}

#settings {
    font-size: 1.1em;
}